<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PeopleSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19Initial Catalog=Customers" providerName="System.Data.SqlClient" />
    <add name="EnterpriseSqlProvider" connectionString="Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=EnterpriseManager;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DebugSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=SqlDebug" providerName="System.Data.SqlClient"/>
    <add name="EonSoftSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=EONSOFT" providerName="System.Data.SqlClient"/>
    <add name="AefnbSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=AEFNB" providerName="System.Data.SqlClient"/>
    <add name="ApplicationsSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=APPLICATIONS" providerName="System.Data.SqlClient"/>
    <add name="AtlasTravelSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=ATLASTRAVELAGY" providerName="System.Data.SqlClient"/>
    <add name="BaldEagleSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=BALDEAGLEBANK" providerName="System.Data.SqlClient"/>
    <add name="CrestWaveSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=CRESTWAVEINS" providerName="System.Data.SqlClient"/>
    <add name="CustomCommSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=CUSTOMCOMM" providerName="System.Data.SqlClient"/>
    <add name="HealthInfoSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=HEALTHINFOSVCS" providerName="System.Data.SqlClient"/>
    <add name="NewtonianMotorCompanySqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=NEWTONIANMOTORCOMPANY" providerName="System.Data.SqlClient"/>
    <add name="NobleStatesmanSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=NOBLESTATESMANINVGRP" providerName="System.Data.SqlClient"/>
    <add name="RetroplexSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=RETROPLEXTHEATERS" providerName="System.Data.SqlClient"/>
    <add name="TalkMobileSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=TALKMOBILE" providerName="System.Data.SqlClient"/>
    <add name="TradeShareSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=TRADESHAREINT" providerName="System.Data.SqlClient"/>
    <add name="TwentySecondCreditUnionSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=TWENTYSECONDCENCREDITUNION" providerName="System.Data.SqlClient"/>
    <add name="WellFitGymSpaSqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=WELLFITGYMSPA" providerName="System.Data.SqlClient"/>
    <add name="AdvWorks2016SqlProvider" connectionString = "Data Source=DESKTOP-JCFTGJ0\development-sql-db, 1433;Persist Security Info=True;User ID=sa;Password=Mononoke19;Initial Catalog=AdventureWorks2016CTP3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>